/* Essas são as variáveis para usar no site e ficar mais escalável a edição das coisas */
:root {
  --cor-branco: #FFFFFF;
  --cor-preto: #000000;

  --light: 'figtree-light';
  --bold: 'figtree-bold';
  --estilo: 'bebasneue';
}
